.logItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  height: 50px;
  width: 90%;
  margin: 0 auto;
}

.logActions {
  width: 50%;
  margin: 10px auto;
  height: auto;
  text-align: center;
}

.logDisp.listBox {
  max-height: 200px;
}
