.Summary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.summaryBox {
  height: 75px;
  background-color: white;
  margin: 15px 0;
  border-radius: 15px;
  box-shadow: 10px 5px 10px rgba(30, 30, 34, 0.2);
  color: white;
}

.summaryTitle {
  margin: 10px 10px;
}

.income {
  width: 45%;
  background: rgb(7, 110, 0);
  background: linear-gradient(
    0deg,
    rgba(7, 110, 0, 1) 0%,
    rgba(48, 255, 0, 1) 100%
  );
}

.expense {
  width: 45%;
  background: rgb(110, 33, 0);
  background: linear-gradient(
    0deg,
    rgba(110, 33, 0, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
}

.net {
  width: 94%;
  height: 75px;
  margin: 0 auto;
}
